<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mods - RL2.ModLoader</title>
    <link href="/styles/shared.css" rel="stylesheet">
</head>
<body>

- GET <code>/api/mod-list</code>:
<ul>
    <li>
        Returns a JSON list of all mods from the database, or <code>{{ axum::http::StatusCode::INTERNAL_SERVER_ERROR }}</code>
    </li>
    <li> JSON schema for every entry:
        <pre>
{
    "name"       : string,
    "author"     : string,
    "icon_src"   : string,
    "short_desc" : string
}
        </pre>
    </li>
</ul>
- GET <code>/api/{name}</code>:
<ul><li>
    returns a JSON object representing info about the mod with the specified name
</li></ul>
</body>
</html>
