main {
  background: linear-gradient(transparent, var(--background) 5%, var(--background) 95%, transparent);
  text-align: left;
  padding: 50px 0px 30px 0px;
  margin: 50px 0px;
  width: 100%;
}

article {
  margin: 0px 25px;
}

h2 {
  font-size: 27px;
  margin-left: -10px;
}
