body {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 22px;
    margin: 0px;
    color: var(--text-color);
    background: linear-gradient(var(--bg-darkener), var(--bg-darkener)), url(../assets/RL2-TitleBanner.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center, center;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 500px;
    align-items: center;
    justify-content: center;
}

header img {
    width: 800px;
}

button {
    font-size: 18px;
    border: transparent;
    background-color: rgb(200, 100, 0);
    color: var(--text-color);
    padding: 10px 15px;
    border-radius: 5px;
}

main {
    display: flex;
    flex-direction: column;
    padding: 100px 0px;
    background: linear-gradient(transparent, var(--background) 5%, var(--background) 95%, transparent);
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

main a, footer a {
    text-decoration: none;
    background: linear-gradient(90deg, rgb(200, 100, 0), rgb(200, 150, 0));
    -webkit-background-clip: text;
    color: transparent;
}

hr {
    margin-top: 30px;
    width: 300px;
}

article {
    width: 400px;
}

img {
    width: 600px;
}

#the-why img {
    width: 300px;
}

iframe {
    width: 600px;
    height: calc((600px / 16) * 9);
}

h3 {
    margin: 0;
}

ol {
    margin-top: 0;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

@media screen {
    @media (width < 1100px) {
        main section {
            flex-direction: column;
        }
        main article {
            text-align: justify;
            width: 75%;
        }
        img {
            width: 90%;
        }
        iframe {
            width: 800px;
            height: 450px;
        }
    }

    @media (width < 900px) {
        iframe {
            width: 600px;
            height: calc(600px * 9 / 16);
        }

        header {
            height: 50%;
        }

        header img {
            width: 95%;
        }
    }
    
    @media (width < 700px) {
        body {
            font-size: 18px;
        }
        header button {
            font-size: 15px;
        }
        header section {
            gap: 2vw;
        }
        iframe {
            width: 400px;
            height: 225px;
        }
    }
    @media (width < 500px) {
        #the-why img {
            width: 200px;
        }
    }
    @media (width < 400px) {
        header button {
            padding: 8px 12px;
            font-size: 13px;
        }
        header section {
            margin-top: 10px;
            gap: 2vw;
        }
        iframe {
            width: 300px;
            height: calc(300px * 9 / 16);
        }
    }
}
