body {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 22px;
    margin: 0px;
    color: var(--text-color);
    background: linear-gradient(var(--bg-darkener), var(--bg-darkener)), url(../assets/RL2-TitleBanner.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center, center;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 500px;
    align-items: center;
    justify-content: center;
}

header img {
    width: 800px;
}

button {
    font-size: 22px;
    border: transparent;
    background-color: rgb(200, 100, 0);
    color: var(--text-color);
    padding: 10px 15px;
    border-radius: 5px;
}

main {
    padding: 100px 0px;
    background: linear-gradient(transparent, var(--background) 5%, var(--background) 95%, transparent);
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

main a, footer a {
    text-decoration: none;
    background: linear-gradient(90deg, rgb(200, 100, 0), rgb(200, 150, 0));
    -webkit-background-clip: text;
    color: transparent;
}

hr {
    margin-top: 30px;
    width: 300px;
}

article {
    width: 400px;
}

img {
    width: 600px;
}

#the-why img {
    width: 300px;
}

iframe {
    width: 600px;
    height: calc((600px / 16) * 9);
}

h3 {
    margin: 0;
}

ol {
    margin-top: 0;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}
