body {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    margin: 0px;
    color: var(--text-color);
    background: var(--background);
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), var(--background)), url(../assets/RL2-TitleBanner.png);
    padding: 80px 0px;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

button {
    border: transparent;
    background-color: rgb(200, 100, 0);
    color: var(--text-color);
    padding: 10px 15px;
    border-radius: 5px;
}

main a, footer a {
    text-decoration: none;
    background: linear-gradient(90deg, rgb(200, 100, 0), rgb(200, 150, 0));
    -webkit-background-clip: text;
    color: transparent;
}

hr {
    margin-top: 30px;
    width: 300px;
}

article {
    width: 400px;
}

img {
    width: 600px;
}

#the-why img {
    width: 300px;
}

iframe {
    width: 600px;
    height: calc((600px / 16) * 9);
}

h3 {
    margin: 0;
}

ol {
    margin-top: 0;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}
