body {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

button {
    border: none;
}

a {
    text-decoration: none;
}

hr {
    margin-top: 30px;
    width: 300px;
}

article {
    width: 400px;
}

img {
    width: 600px;
}

#the-why img {
    width: 300px;
}

iframe {
    width: 600px;
    height: calc((600px / 16) * 9);
}

h3 {
    margin: 0;
}

ol {
    margin-top: 0;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}
