main {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 70vh;
  align-items: flex-start;
  justify-content: center;
  padding: 60px 0px 30px 0px;
  margin: 60px 0px 30px 0px;
  background: linear-gradient(transparent, var(--background) 50px, var(--background) calc(100% - 50px), transparent);
}

table {
  width: 100%;
  font-size: 12px;
}

td {
  width: 50%;
}

#persist {
  display: flex;
  flex-direction: column;
}

#mod-info {
  width: 200px;
}

#mod-info img {
  width: 150px;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 23px;
}

#selected-data {
  width: 600px;
  text-align: left;
  padding: 0px 30px;
  font-size: 20px;
}

#back {
  position: absolute;
  left: 10px;
  top: 10px;
  border-color: transparent;
  outline: none;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

a:has(button:disabled) {
  cusrosr: default;
  pointer-events: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
