main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 70vh;
  align-items: flex-start;
  justify-content: center;
  padding: 60px 0px 30px 0px;
  margin: 60px 0px 30px 0px;
  background: linear-gradient(transparent, var(--background) 20px, var(--background) calc(100% - 20px), transparent);
}

button {
    font-size: 15px;
    border: transparent;
    background-color: rgb(200, 100, 0);
    color: var(--text-color);
    padding: 9px 12px;
    border-radius: 5px;
    text-shadow:
         1px  1px  black,
         1px -1px  black,
        -1px  1px  black,
        -1px -1px  black;
}

button:disabled {
  background-color: rgb(100, 50, 0);
}

table {
  width: 100%;
  font-size: 12px;
}

td {
  width: 50%;
}

#persist {
  display: flex;
  flex-direction: column;
}

#mod-info {
  width: 200px;
}

#mod-info img {
  width: 150px;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 23px;
}

#selected-data {
  width: 600px;
  text-align: left;
  padding: 0px 30px;
  font-size: 20px;
}

#back {
  position: fixed;
  left: 30px;
  top: 30px;
  border-color: transparent;
  outline: none;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  padding: 0px;
}

a:has(button:disabled) {
  cusrosr: default;
  pointer-events: none;
}

a {
  text-decoration: none;
  background: linear-gradient(90deg, rgb(200, 100, 0), rgb(200, 150, 0));
  -webkit-background-clip: text;
  color: transparent;  
}

a p {
  margin: 0px;
}

#buttons {
  margin-bottom: 10px;
}

.download {
  display: flex;
  justify-content: space-around;
  margin: 5px;
}

.download::after {
  content: "";
  background-image: url(/assets/download.svg);
  display: block;
  width: 25px;
  height: 25px;
  filter: invert(100%);
}

@media screen {
  @media (width < 800px) {
    #persist {
      width: 90vw;
      flex-direction: row;
      justify-content: space-around;
      padding-top: 20px;
      margin-bottom: 10px;
      border: 2px var(--text-color);
      border-style: solid none solid none;
    
      section {
        width: 30%;
      }
    }

    main {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }

    #buttons {
      display: flex;
      justify-content: space-around;
    }

    #selected-data {
      width: 90vw;
    }
  }
}
