:root {
	--text: #d6d6d6;
	--background: #111111;
	--primary: #2c2d2b;
	--highlight: #3a3b39;
	--navbar: #181818;
}

.background {
	background-image: linear-gradient(10deg, var(--background), var(--background));
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "JetBrains Mono", monospace;
	font-size: 1vw;
	color: var(--text);
	tab-size: 4;
	line-height: 2;
	min-height: 100%;
	height: auto;
}

.mod {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;

	background-color: var(--primary);
	border-radius: 1vw;
	width: 60%;
}

.mod:hover {
	background-color: var(--highlight);
}

div.icon {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

img.icon {
	width: 10vw;
}

.details {
	flex-direction: column;
}

.title {
	display: flex;
	align-items: baseline;
	flex-direction: row;
	justify-content: space-between;
}

.description {
	text-wrap: wrap;
	font-size: .9vw;
}

.loading {
	color: white;
}

.loading::before {
	content: "";
	background-image: url(https://www.svgrepo.com/show/485741/hourglass.svg);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	top: 4px;
	display: inline-block;
	position: relative;
	filter: invert(100%);
}

div.search {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	width: 60%;
}

input.search {
	outline: 0;
    border: 1px solid var(--highlight);
    border-radius: 1em;
    padding: 8px;
    background-color: var(--primary);
    color: var(--text);
	height: 2vw;
	width: 95%;
}

img.search {
	width: 1.5vw;
	height: 1.5vw;
	filter: invert(100%);
}