body {
    font-size: 22px;
    background:
        linear-gradient(var(--bg-darkener), var(--bg-darkener)),
        url(https://raw.githubusercontent.com/RL2-API/RL2.ModLoader.WebSite/refs/heads/main/assets/RL2-TitleBanner.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center, center;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

main {
    margin: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 70vh;
    align-items: center;
    padding: 50px 0px 45px 0px;
    background: linear-gradient(transparent, var(--background) 5%, var(--background) 95%, transparent);
}

form.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #0A0A0A;
    margin: 30px 0px 10px 0px;
    padding: 5px;
    width: 850px;
    border-radius: 20px;
}

form.search input {
    font-size: 20px;
    width: 750px;
    height: 40px;
    background-color: #0A0A0A;
    color: var(--text-color);
    outline: none;
    border: none;
    padding: 5px;
    margin: 0px 10px;
}

form.search button {
    background-color: rgba(10, 10, 10, 1.0);
    margin: 0px;
    padding: 0px;
    width: 50px;
    height: 50px;
    border: none;
}

form.search button img {
    width: 26px;
    height: 26px;
    margin: 0px;
    padding: 5px;
    filter: invert(100%);
}

article.mod-entry {
    width: 1000px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #1C0C0C;
    margin: 5px;
    border-radius: 30px;
}

article.mod-entry section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

article.mod-entry section * {
    margin: 0px;
}

article.mod-entry div.img-wrapper {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

article.mod-entry div.img-wrapper img {
    padding: 30px;
    height: calc(100% - 30px);
    border-radius: 50px;
}

article.mod-entry section.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0px;
}

article.mod-entry section.title b {
    padding-right: 8px;
}

section.pages {
    display: flex;
    flex-drection: row;
    align-items: center;
    gap: 20px;
    margin: 0px 0px 40px 0px;
}

span#page-0 { font-size: 35px; }

span#page-1 { font-size: 28px; }

span#page-2 { font-size: 21px; }

section.pages a:has(button:disabled) {
    cusrosr: default;
    pointer-events: none;
}

section.pages a {
    text-decoration: none;
}

section.pages button {
    width: 32px;
    height: 32px;
    font-size: 18px;
    border: transparent;
    background-color: rgb(200, 100, 0);
    color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.pages button:disabled {
    cursor: default;
    pointer-events: none;
    background-color: transparent;
    color: transparent;
}
