html {
    scrollbar-width: none;
}

:root {
    --text-color: rgb(200, 200, 200);
    --background: #130501;
    --bg-darkener-er: rgba(0, 0, 0, 0.75);
    --bg-darkener: rgba(0, 0, 0, 0.60);
}

body {
    font-size: 22px;
    background:
        linear-gradient(var(--bg-darkener), var(--bg-darkener)),
        url(../assets/RL2-TitleBanner-960x540.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center, center;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
